* {
    margin: 0;
    padding: 0;
    font-family: outfit;
}

body {
    background: rgb(0, 0, 0.4);
    overflow-x: hidden;
  
}

nav {
    background: black;
    height: 80px;
}


nav img {
    width: 30px;
}

#nav-frame-heading {
    color: white;
    font-weight: bold;
}

.nav-li a {
    color: rgba(245, 245, 245, 0.595);
    font-weight: 500;
}

.nav-li a:hover {
    color: white;
}


#login-button {
    border: none;
    background-color: black;
    color: grey;
    margin: 0px 10px;
    font-weight: 500;
}
#login-button:hover{
    color: white;
}


#signup-button {
    background-color: white;
    border: 40px;
    padding: 3px 6px;
    color: black;
    border: none;
    border-radius: 20px;
    font-weight: 500;

}

#signup-button:hover {
      background-color: rgba(0, 0, 0, 0.663);
      color: white;

}

.heading-section {
    display: flex;
    justify-content: space-between;
    

}

.heading-section-left {
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin: 130px;
    



}

.heading-section-left h1 {
    font-size: 80px;
    color: white;
    font-weight: bold;
}

.heading-section-left p {
    font-size: 30px;
    color: whitesmoke;
}

.heading-section-left div {
    display: flex;
    gap: 10px;

}


.heading-section-right video {
    width: 73%;
    position: absolute;
    right: 0;
    box-shadow: inset 0px 0px 2000px;

}

#start-for-free {
    background-color: white;
    border: 40px;
    padding: 5px 12px;
    color: black;
    border: none;
    border-radius: 20px;
    font-weight: 500;
}

#watch-video {
    background-color: white;
    border: 40px;
    padding: 5px 12px;
    color: black;
    border: none;
    border-radius: 20px;
    font-weight: 500;
}

.animation-slide {
    display: flex;
    margin: 20px 80px;
    margin-top: 15px;
    overflow: hidden;
    white-space: nowrap;

}

.slide-images {
    display: flex;
    animation: slide 35s linear infinite;
    background-color: rgba(0, 0, 0, 0.804);
    box-shadow: 0px 0px 30px;
    cursor: pointer;

}

.slide-images p {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 16px;
    letter-spacing: 5px;
    margin: 0px 20px;
}

.animation-hover-div {
    position: absolute;
    top: 680px;
    width: 100%;
    background-color: rgba(3, 3, 3, 0.885);
    height: 80px;
    left: 10px;
   opacity: 0;
    transition: 1s;
    cursor: pointer;
}


.animation-hover-div h1 {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 23px;
    letter-spacing: 2px;
    margin-right: 20px;
    padding: 4px;

}

.animation-hover-div:hover{
    opacity: 1;
}




#Design-responsive {
    margin-top: 100px;
    text-align: center;
    color: grey;
    animation-name: textAni;
    animation-timeline: view();
    margin-bottom: 100px;
}


.frame-animation-first-div {
    display: flex;
    flex-direction: column;
    margin: 20px 150px;
    margin-top: 180px;
    margin-bottom: 70px;
    background-color: rgb(33, 30, 30);
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3),
        /* Shadow on the right */
        -5px 0 15px rgba(0, 0, 0, 0.3),
        /* Shadow on the left */
        0 5px 15px rgba(0, 0, 0, 0.3),
        /* Shadow on the bottom */
        0 -5px 12px rgba(30, 143, 255, 0.947)
        /* Blue shadow on top */
    ;
    height: 600px;
    animation-name: slide-top;
    animation-timeline: view()
}

.frame-back-nav {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgb(26, 23, 23);
    border-radius: 10px 10px 10px 10px;
    align-items: center;
    padding: 4px;
}

.frame-back-nav div:nth-child(1) {
    display: flex;
    gap: 10px;
}

.frame-back-nav div p {
    margin-top: 10px;
}

.frame-back-nav div p i {
    margin: 0px 10px;
}

.frame-back-nav div h6 {
    font-weight: bold;
}

.frame-back-nav div i {
    margin: 0px 7px;
}

.frame-back-nav div button {
    margin: 10px;
    border: none;
    background-color: rgba(128, 128, 128, 0.673);
    color: white;
    border-radius: 10px;
    padding: 7px;
}

.frame-main-img {
    display: flex;
    justify-content: center;
    align-items: center;


}

.frame-main-img img {
    width: 650px;

}

.frame-paragrap-div {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: white;
    margin-top: -30px;
    background-color: rgba(9, 8, 8, 0.844);
    backdrop-filter: blur(10px);
    /* Apply a blur effect */
    box-shadow: 0px 0px 10px black;
    z-index: 1;

}

.frame-paragrap-div p {
    font-weight: bold;
    text-align: center;
}

.frame-images-animation-div {
    display: flex;
    justify-content: space-between;


}

.frame-images-animation-div div {
    margin-top: -450px;
    animation-name: slide-top;
    animation-timeline: view();
}

.frame-images-animation-div img {
    width: 250px;
    height: 550px;
}

.frame-button {
    display: flex;
    justify-content: space-around;

    margin: 0px 100px;
    margin-top: -400px;
}

.frame-button div {
    display: flex;
    gap: 10px;
}

.frame-button div i {
    background-color: dodgerblue;
    color: white;
    border-radius: 20px;
    padding: 3px 10px;
    height: 27px;
    animation-name: animate-i;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction: alternate;
    box-shadow: 0px 0px 5px dodgerblue;
    margin-top: -30px;
}

.frame-button div button {
    background-color: dodgerblue;
    border-radius: 30px;
    color: white;
    font-weight: bolder;
    padding: 10px 20px;
    border: none;
    animation-name: animate-button;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction: alternate;
    box-shadow: 0px 0px 5px dodgerblue;
}




@media screen and (max-width:1170px) {
    .frame-animation-first-div {
        margin: 20px 30px;
    }



    .frame-button {
        display: flex;
        justify-content: space-around;

        margin: 0px 120px;
        margin-top: -490px;
    }

    .frame-images-animation-div img {
        width: 200px;
        height: 550px;
    }

}



@media screen and (max-width:930px) {
    .frame-images-animation-div {
        display: none;
    }

    .frame-button {
       margin: 0px 10px;
       margin-top: -400px;
    }

    .frame-main-img img {
        width: 100%;
    }
}


@media screen and (max-width:735px) {
    .frame-paragrap-div {
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 30px;
        color: white;
        margin-top: 30px;
        background-color: rgba(9, 8, 8, 0.844);
        backdrop-filter: blur(10px);
        /* Apply a blur effect */
        box-shadow: 0px 0px 10px black;
        z-index: 1;

    }

    .frame-paragrap-div div p {
        text-align: left;
        font-weight: 400;
    }

    .frame-back-nav div p {
        font-size: 10px;

    }

    .frame-back-nav div i {
        font-size: 10px;

    }

    .frame-back-nav div button {
        padding: 6px;


    }

}

@media screen and (max-width:655px) {

.frame-back-nav div:nth-child(1){
display: none;
}
.frame-button{
display: none;

}
}


@keyframes animate-i {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-100%);
    }
}



@keyframes animate-button {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-100%);
    }
}

@keyframes slide-top {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-30%);
    }
}



@keyframes textAni {
    from {
        color: grey;

    }

    to {

        color: white;
    }
}





@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}




@media screen and (max-width:968px) {
    .heading-section {
        margin: 30px;
        flex-direction: column;
    }

    .heading-section-left {
        margin: 60px 0px;
    }

    .heading-section-right video {
        position: relative;
        width: 100%;
    }

    .heading-section-left h1 {
        font-size: 50px;
    }

    .heading-section-left p {
        font-size: 20px;
    }

    .animation-hover-div {
        top: 950px;
        width: 100%;
    }
}

@media screen and (max-width:883px) {
    .animation-hover-div {
        display: none;
    }
}


@media screen and (max-width:706px) {
    .animation-slide {
        margin: 20px 30px;
    }
}

@media screen and (max-width:489px) {
    .middle-animation {
        margin: 30px 30px;
    }

    .middle-animation div img {
        width: 60px;
    }

    .slide-images p {
        font-size: 15px;
    }
}


@media screen and (max-width:468px) {
    .heading-section {
        margin: 30px;
        flex-direction: column;
    }

    .heading-section-left {
        margin: 60px 0px;
    }

    .heading-section-right video {
        position: relative;
        width: 100%;
    }

    .heading-section-left h1 {
        font-size: 40px;
    }

    .heading-section-left p {
        font-size: 15px;
    }
}



/* image parent section */


.images-middle-parent{
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
    margin-bottom: 10px;
    margin-top: -100px;
    

   
}

.first-section-img{
    display: flex;
   margin-bottom: 100px;
    justify-content: space-between;
}




.text-content-first-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px 0px;
    justify-content: center;
    height: 400px;
    width: 500px;
    z-index: 1;
    background-color: black;
    box-shadow: 0px 0px 20px 80px black;
    
}
.text-content-first-section h6{
  color: dodgerblue;
}

.text-content-first-section h1{
    color: white;
  }

  .text-content-first-section p{
    color: rgba(128, 128, 128, 0.867);
    font-weight: 400;
  }

  .text-content-first-section p{
    color: rgba(128, 128, 128, 0.867);
    font-weight: 400;
  }
  .text-content-first-section button{
    background-color: rgba(33, 31, 31, 0.633);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    width: 240px;
    
  }

  .image-contents-first-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
   
  }

  .child-image-contents-first-section{
    display: flex;
    gap: 20px;
    

  }

  .child-image-contents-first-section img{
    width: 100%;
    width: 280px;
    height: 250px;
    border-radius: 20px;
  }
  .child-1{
    position: absolute;
    right: -20px;
    animation: child-1;
    animation-timeline:view();
  }
 

 .child-2{
    display: none;
 }


 @keyframes child-1 {
    from{
        right: -200px;
    }
    to{
        right: 0px;
    }
 }


 



@media screen and (max-width:986px) {
    .images-middle-parent{
        margin: 60px;
    }
    .first-section-img{
        flex-direction: column;
    }
    .text-content-first-section{
        box-shadow:0px 0px 10px 20px black;
        height: 400px;
        width: 100%;
        border: none;
        background-color: none;
    }
    .image-contents-first-section{
        margin-top: 100px;
       display: none;
    }
    .child-image-contents-first-section img{
        width: 306px;
        height: 260px;
    }
    .last-section-img{
        margin-top: 240px;
    }
    
 @keyframes child-1 {
    from{
        right: 700px;
    }
    to{
        right: -900px;
    }
 }
}


@media screen and (max-width:732px) {
    .child-image-contents-first-section img{
        width: 206px;
        height: 200px;
    }

    .child-1{
        position: relative;
       position: absolute;
        animation-name: child-3;
        animation-timeline: view();
      }
     .images-middle-parent{
        margin-top: 80px;
        overflow: hidden;
        margin-bottom: 100px;
     }

     @keyframes child-3 {
        from{
            right: -300px;
        }

        to{
          right: 100px;
        }
       
     }
    
}




/* features section */


.features-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 60px;
    margin-bottom: 100px;
}

.feautures-section-first{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feautures-section-first h6{
    color: dodgerblue;
}
.feautures-section-first h1{
    color: white;
    text-align: center;
    font-size: 40px;
}
.feautures-section-first p{
    color: rgba(128, 128, 128, 0.867);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}


.features-section-second{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.features-section-second-left{
    display: flex;
    flex-direction: column;
    border: 1px solid #06141b;
    border-radius: 20px;
   transition: 1s;
    padding: 0px;
    animation-name: parent-fe;
    animation-timeline: view();
    width: 100%;
}
.features-section-second-left-content-div{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.features-section-second-left-content-div h6{
    color: white;
}
.features-section-second-left-content-div p{
    color: white;
}
.features-section-second-left-content-div span{
    color: white;
}


.features-section-second-left-images-div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
   
}
.features-section-second-left-images-div img{
   width: 250px;
   position: relative;
   
}
#img-1{
    left: 10%;
    height: 400px;
    animation-name: fe-img-1;
    animation-timeline:view() ;
    
}
#img-2{
    left: 0%;
    z-index: 1;
    top: 12%;
    height: 350px;

}

#img-3{
    left: -10%;
    top: 22%;
    height: 310px;
    z-index: 1;
    animation-name: fe-img-3;
    animation-timeline:view() ;
}
.features-section-second-right{
    display: flex;
    flex-direction: column;
    border: 1px solid #06141b;
    border-radius: 20px;
    padding: 10px;
}



.features-section-second-right-content-div h6{
    color: white;
}
.features-section-second-right-content-div p{
    color: white;
}


.features-section-second-right-button-div{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 80px;
}
.features-section-second-right-button-div div button{
    border-radius: 30px;
    color: white;
    font-weight: bolder;
    border: none;
   
    
}

.fe-right-div1{
    display: flex;
    justify-content: space-between;
}

.fe-right-div2{
    display: flex;
    justify-content: center;
    animation: fe-main-i 10s linear infinite alternate ;
   
}
.fe-right-div2 i{
   font-size: 30px;
   color: #0080c4;
   animation-name: fe-i;
   animation-timeline:view()
}




.fe-right-div3{
    display: flex;
    justify-content: space-between;
}
#button-first-fe{
    animation-name: fe-button1;
    animation-timeline:view();
    width: 60px;
    padding: 10px;
    background-color: dodgerblue;
   
}


#button-second-fe{
    animation-name: fe-button2;
    animation-timeline:view();
    width: 60px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.496);

}

#button-third-fe{
    animation-name: fe-button1;
    animation-timeline:view();
    width: 100px;
    padding: 10px;
    background-color: dodgerblue;

}


#button-fourth-fe{
    animation-name: fe-button2;
    animation-timeline:view();
    width: 100px;
    padding: 10px;
    background-color: rgba(6, 6, 6, 0.579);

}

@media screen and (max-width:1140px) {
    .features-section-second{
        flex-direction: column;
    }
}

@media screen and (max-width:839px) {

}

@keyframes fe-button1 {
    from{
     transform: translateX(0px);
     
    }
    to{
     transform: translateX(150px);
    }
     
 }


 @keyframes fe-button2 {
    from{
     transform: translateX(0px);
    }
    to{
     transform: translateX(-150px);
    }
     
 }


@keyframes fe-main-i {
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(30px);
    }
    
}


@keyframes fe-i {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}








@keyframes fe-img-1 {
    from{
        left: 10%;
    }
    to{
        left: 0%;
    }
    
}

@keyframes fe-img-3 {
    from{
        left: -10%;
    }
    to{
        left: 0%;
    }
    
}


@keyframes parent-fe {
    from{
        background-color: black;
    }
    to{
        background: radial-gradient(97% 98% at 1.5% 99.1%, #0080c4 0%, rgb(0, 3, 15) 100%);
    }
}




@media screen and (max-width:1140px) {
    .features-section-second{
        flex-direction: column;
    }
    .features-section{
        margin-top: 0px;
    }
}

@media screen and (max-width:884px) {
    .features-section{
        margin: 30px;
        margin-top: -100px;
    }
    .features-section-second-left-images-div img{
        width: 200px;
        position: relative;
        
     }

     


     .feautures-section-first{
        display: flex;
        justify-content: left;
    }
    
    .feautures-section-first h6{
        color: dodgerblue;
    }
    .feautures-section-first h1{
        color: white;
        text-align: left;
        font-size: 30px;
    }
    .feautures-section-first p{
        color: rgba(128, 128, 128, 0.867);
        font-weight: 400;
        font-size: 17px;
        text-align: left;
    }

    #img-1{
        left: 10%;
        height: 350px;
        animation-name: fe-img-1;
        animation-timeline:view() ;
        
    }
    #img-2{
        left: 0%;
        z-index: 1;
        top: 40%;
        height: 330px;
    
    }
    
    #img-3{
        left: -10%;
        top: 22%;
        height: 300px;
        z-index: 1;
        animation-name: fe-img-3;
        animation-timeline:view() ;
    }
    @keyframes fe-img-1 {
        from{
            left: 30%;
        }
        to{
            left: 0%;
        }
        
    }
    
    @keyframes fe-img-3 {
        from{
            left: -30%;
        }
        to{
            left: 0%;
        }
        
    }
}






@media screen and (max-width:678px) {
    .features-section-second-left-images-div img{
        width: 180px;
        position: relative;
        
     }
    #img-1{
        left: 10%;
        height: 350px;
        animation-name: fe-img-1;
        animation-timeline:view() ;
        
    }
    #img-2{
        left: 0%;
        z-index: 1;
        top: 40%;
        height: 300px;
    
    }
    
    #img-3{
        left: -10%;
        top: 22%;
        height: 280px;
        z-index: 1;
        animation-name: fe-img-3;
        animation-timeline:view() ;
    }
   
}





@media screen and (max-width:575px) {
    .features-section{
        margin: 20px;
        margin-top: -160px;
    }
    .features-section-second-left{
        width: 100%;
    }
    .features-section-second-left-images-div img{
        width: 150px;
        position: relative;
        
     }
    #img-1{
        left: 10%;
        height: 230px;
        animation-name: fe-img-1;
        animation-timeline:view() ;
        
    }
    #img-2{
        left: 0%;
        z-index: 1;
        top: 40%;
        height: 200px;
    
    }
    
    #img-3{
        left: -10%;
        top: 22%;
        height: 180px;
        z-index: 1;
        animation-name: fe-img-3;
        animation-timeline:view() ;
    }
    .feautures-section-first h1{
        color: white;
        text-align: left;
        font-size: 23px;
    }
    .feautures-section-first p{
        color: rgba(128, 128, 128, 0.867);
        font-weight: 400;
        font-size: 15px;
        text-align: left;
    }
   
}

@media screen and (max-width:479px) {
    @keyframes fe-button1 {
    from{
     transform: translateX(0px);
     
    }
    to{
     transform: translateX(100px);
    }
     
 }


 @keyframes fe-button2 {
    from{
     transform: translateX(0px);
    }
    to{
     transform: translateX(-100px);
    }
     
 }
}



/* feautres section-2 */

.features-section-third{
    display: flex;
    justify-content: space-between;
    margin: 60px;
}

.features-section-third-left{
    display: flex;
    flex-direction: column;
    border: 1px solid #06141b;
    width: 100%;
}

.features-section-third-left-content-div h6{
    color: white;
}


.features-section-third-left-content-div p{
    color: white;
}
.features-section-third-left-content-div span{
    color: white;
}
.features-section-third-left-images-div{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 70px;
    animation-name: third-fe-animation;
    animation-timeline:view();
}

.features-section-third-left-images-div img{
    width: 100%;
    height: 400px;
}





.features-section-third-right{
    display: flex;
    flex-direction: column;
    border: 1px solid #06141b;
    padding: 10px;
    z-index: 1;
    background-color: black;
    width: 100%;
}


.features-section-third-right-content-div h6{
    color: white;
}


.features-section-third-right-content-div p{
    color: white;
}
.features-section-third-right-content-div span{
    color: white;
}

.features-section-third-right-images-div{
    display: flex;

}

.features-section-third-right-images-div h1{
    color: white;
    font-weight: bold;

    text-align: center;
    border-radius: 10px;
}

.features-section-third-right-images-div div img{
    width: 100%;
    height: 300px;
}

#fe-3img{
    height: 500px;
    width: 300px;
}


@keyframes third-fe-animation {

    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(100px);
    }
    
}


@media screen and (max-width:968px) {
  .features-section-third{
    flex-direction: column;
    margin: 0px;
    margin-top: 40px;
    gap: 40px;

  }
  .features-section-third-right-images-div{
   flex-direction: column;

}
.features-section-third-right-images-div{
    display: none;
}
#fe-3img{
    display: none;
}

.features-section-third-left-images-div img{
    width: 300px;
    height: 300px;
}

@keyframes third-fe-animation {

    from{
        transform: translateX(-200px);
    }
    to{
        transform: translateX(60px);
    }
    
}
    
}


/*  */


.Nav-feautures{
    display: flex;
    justify-content: space-between;
    margin: 70px;
    gap: 10px;
   
}

.nav-features-left{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    background: radial-gradient(97% 98% at 1.5% 99.1%, #0080c4 0%, rgb(0, 3, 15) 100%);
    height: 540px;
    border: 1px solid #007fc495;
    border-radius: 10px;
    width: 70%;
}

.nav-feautures-left-content{
    margin: 30px 30px;
    
}

.nav-feautures-left-content h6{
    color: white;
}



.nav-feautures-left-content p{
    color: white;
}
.nav-feautures-left-content span{
    color: white;
}

.fnav-feautures-left-images-div{
    display: flex;
}
.fnav-feautures-left-images-div img{
    width: 100%;
    height: 380px;
}

.fnav-contact{
    background: radial-gradient(97% 98% at 1.5% 99.1%, #0080c4 0%, rgb(0, 3, 15) 100%);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.fnav-contact p{
    font-size: 28px;
    color: white;
    animation-name: translate-fe-nav;
    animation-timeline:view() ;
    cursor: pointer;
}
.fnav-contact p:hover{
   margin-left: 20px;
}


.nav-features-right{
    display: flex;
    flex-direction: column;
    height: 530px;
    width: 40%;
    border: 1px solid #007fc480;
    border-radius: 10px;
   

}

.nav-features-right-content-div{
    margin: 30px 60px;
    z-index: 3;
   
  
}

.nav-features-right-content-div h6{
   color: white;
}


.nav-features-right-content-div p{
    color: white;
    
}


.nav-features-right-content-div span{
   color: white;
}

.nav-features-right-images-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.nav-features-right-images-div div {
    display: flex;
 
}

.nav-features-right-images-div img {
    width: 200px;
    margin: 0px 10px;
}

/* Keyframes for sliding effect */


.nav-features-right-images-div div {
    animation: slide-fe-nav 15s linear infinite;
}


@keyframes slide-fe-nav {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%); /* Move down all images */
    }
}




@keyframes translate-fe-nav {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-50px); /* Move down all images */
    }
}

@media screen and (max-width:1000px) {
    .Nav-feautures{
        flex-direction: column;
    }
    .nav-features-left{
        width: 100%;
    }
    .nav-features-right{
        width: 100%;
    }
    .fnav-feautures-left-images-div img{
        width: 100%;
        
       
    }
}



@media screen and (max-width:779px) {
    .Nav-feautures{
        flex-direction: column;
        margin: 30px;
    }
 
   
    
    .nav-features-right-content-div{
        margin: 30px;
    }
    
}



@media screen and (max-width:554px) {
    @keyframes translate-fe-nav {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(-20px); /* Move down all images */
        }
    }
    
}




/* last section */



.last-feautures{
    display: flex;
    justify-content: space-between;
    margin: 0px 70px;
    gap: 10px;
}


.last-features-left{
    display: flex;
    flex-direction: column;
    color: white;
    height: 600px;
    width: 47%;
}

.last-feautures-left-content{
    background: radial-gradient(97% 98% at 1.5% 99.1%, #0a202c 0%, rgb(0, 3, 15) 100%);
    box-shadow: 0px 0px 10px #0080c4;
}


.last-feautures-left-text-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-top: -220px;
    text-shadow: 0px 0px 10px #06141b;
}

.last-feautures-left-text-div h1{
    font-size: 33px;
    color: white;
       font-weight: bold;
}

.last-features-right{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
    overflow: hidden;

}


.last-features-right-content-div{
    display: flex;
    flex-direction: column;
    color: white;
    margin: 20px;
    z-index: 1;
    background: black;
    
}

.last-features-right-images-div{
    padding: 50px;
    display: flex;
    gap: 40px;
    margin-top: 100px;
    background: radial-gradient(97% 98% at 1.5% 99.1%, #0080c4 0%, rgb(0, 3, 15) 100%);
    color: white;
    
}

.last-features-right-images-div h1{
    font-size: 56px;
    font-weight: bolder;
    margin-top: -50px;
    text-shadow: 0px 0px 6px;
    
}





@media screen and (max-width:978px) {
    .last-feautures{
        flex-direction: column;
        margin: 30px;
    }
    .last-features-left{
        width: 100%;
        height: 100%;
    }
    .last-feautures-left-content{
    padding: 0px 10px;
    }
    .last-features-right{
        height: 100%;
        margin-top: 170px;
    }
}






/* image section */



.images-div{
    display: flex;
    flex-direction: column;
   
    margin-top: 200px;
    margin-bottom: 100px;
    gap: 10px;
   

}



.images-div-child{
    display: flex;
    flex-direction: column;
    gap: 5px;
    animation-name: img-last;
    animation-timeline:view();
    justify-content: center ;
    margin-bottom: 100px;
    overflow: hidden;
    
    
}

.images-div-child div{
    display: flex;
    gap: 3px;
    overflow: hidden;
}
.images-div-child div img{
    width: 350px;
    height: 290px;
    border-radius: 10px;
    opacity: 0.4;
    transition: 1s;
    
    
   
}

.images-div-child div img:hover{
    opacity: 1;
    cursor: pointer;
}

.h1-animation-div{
   overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -600px;
    
}

.h1-animation-div h1{
    font-size: 124px;
    color: white;
    z-index: 1;
}







@keyframes img-last {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}

@media screen and (max-width:907px) {
    
    .h1-animation-div h1{
        font-size: 76px;
        color: white;
        z-index: 1;
        text-align: center;
    }
    
    
    
}




@media screen and (max-width:565px) {
    .h1-animation-div h1{
        font-size: 56px;
        color: white;
        z-index: 1;
        text-align: center;
    }

    .images-div-child div img{
        width: 300px;
        height: 220px;
        border-radius: 10px;
        opacity: 0.4;
        
       
    }
    
    
}




@media screen and (max-width:441px) {
    .h1-animation-div h1{
        font-size: 40px;
        color: white;
        z-index: 1;
        text-align: center;
    }

    .images-div-child div img{
        width: 250px;
        height: 220px;
        border-radius: 10px;
        opacity: 0.4;
        
       
    }

    
    
    
}




/* explore div */


.explore-div{
    display: flex;
    justify-content: space-between;
    margin: 100px;
    margin-top: 530px;
    overflow: hidden;
}
.explore-div div{
    display: flex;
}
.explore-div div img{
    width: 40px;
}

.explore-div p{
    color: white;
}
.explore-div button{
    background-color: white;
    border-radius: 10px;
    padding: 2px;
    border: none;
    height: 40px;
}


@media screen and (max-width:996px) {
    .explore-div{
        margin: 50px;
        margin-top: 570px;
    }
}


@media screen and (max-width:559px) {
    .explore-div{
        flex-direction: column;
    }
}




/* video img */

.ads-div{
    display: flex;
    justify-content: center;
    flex-direction: column;

}


.ads-div-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}
.ads-div-left h6{
    color: dodgerblue;
}
.ads-div-left p{
    text-align: center;
}
.ads-div-right{
    display: flex;
   justify-content: center;
   gap: 90px;
    margin: 50px;
}

.ads-div-right div{
    display: flex;
    flex-direction: column;
}

.ads-div-right div img{
    width: 360px;
    height: 368px;
    opacity: 0.5;
    transition: 1s;
    cursor: pointer;
}
.ads-div-right div img:hover{
    opacity: 1;
}

.ads-div-right-content{
    margin: 10px;
    margin-top: -130px;
    color: white;
    z-index: 1;
   
}

@media screen and (max-width:999px) {
    .ads-div-right{
        flex-direction: column;
        justify-content: left;
       gap: 10px;
        margin: 20px;
        
    }
    
    .ads-div-right div img{
        width: 100%;
        height: 620px;
        opacity: 0.5;
        transition: 1s;
        cursor: pointer;
    }
}



@media screen and (max-width:719px) {
    .ads-div{
        margin: 0px;
    }
    .ads-div-right{
        overflow: hidden;
    }
   
}





@media screen and (max-width:598PX) {
    .ads-div-right div img{
        width: 100%;
        height: 420px;
        opacity: 0.5;
        transition: 1s;
        cursor: pointer;
    }
    
}










/* LAST section */


.last-div{
    display: flex;
    justify-content: space-between;
    background: radial-gradient(97% 98% at 1.5% 99.1%, #007fc472 0%, rgb(0, 3, 15) 100%);

    
}


.last-div-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    margin: 100px;
}

.last-div-left h1{
    font-size: 65px;
}

.last-div-left p{
    font-size: 22px;
    color: grey;
}

.last-div-left div{
    display: flex;
    gap: 10px;
}

.last-div-left button{
    
    border-radius: 10px;
    padding: 12px;
    border: none;
   
}
#button-2-last-div{
    background-color: #007fc475;
    color: white;
}

.last-div-right{
    display: flex;
    flex-direction: column;
    margin: 70px 0px;
    
}

.last-div-right img{
    width: 100%;
    opacity: 0.3;
    animation-name: Lap-ani;
    animation-timeline: view();
}


@keyframes Lap-ani {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-100px);
        opacity: 0.6;
    }
}





@media screen and (max-width:978px) {
    .last-div{
        flex-direction: column;
        justify-content: center;
        margin-top: 80px;
    }
    .last-div-left{
        margin: 20px;
        
    }
    .last-div-right img{
        width: 100%;
    
    }
    @keyframes Lap-ani {
        from{
            transform: translateX(0px);
        }
        to{
            transform: translateX(-20px);
            opacity: 0.6;
        }
    }
    
    
}





@media screen and (max-width:504px) {
    .last-div-left h1{
        font-size: 45px;
    }
    
    .last-div-left p{
        font-size: 15px;
        color: grey;
    }
}




footer{
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(0px);
    background-color: rgba(0, 0, 0, 0.2);
    background: radial-gradient(97% 98% at 1.5% 99.1%, rgba(0, 0, 139, 0.634) 0%, rgb(0, 3, 15) 100%);


}

.footer-left{
    display: flex;
    flex-direction: column;
    margin: 30px;
    color: white;
}

.footer-left img{
    width: 20px;
}

.footer-right{
    display: flex;
    margin: 30px;
    justify-content: space-between;
    width: 55%;
    color: white;
    overflow: hidden;
   
}

.footer-right p{
    font-size: 14px;
    color: gray;
    margin-top: -5px;
    cursor: pointer;
    transition: 0.6s;
}

.footer-right i{
    margin: 0px 5px;
    font-size: 15px;
    color: gray;
}
.footer-right p:hover{
    color: white;
}

@media screen and (max-width:959px) {
    footer{
        flex-direction: column;
    }
    .footer-left{
        justify-content: center;
        align-items: center;
    }
    .footer-right{
        width: 100%;
        margin: 30px;
        flex-wrap: wrap;
    }
}